@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* set Poppins as default font */
  --font-sans: "Poppins", sans-serif;

  /* custom colors from style guide */
  --color-pp-pink: #D7385D;
  --color-pp-light-pink: #E4688B;
  --color-pp-white: #FFFEFB;
  --color-pp-black: #080200;
  --color-pp-green: #8CE395;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}